.button {
    display: flex;
    border-style: solid;
    border-color: var(--blue);
    border-radius: 500px;
    border-width: 2px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.button:hover, .buttonSelected {
    background-color: var(--blue);
}

.button img {
    filter: var(--blue_svg);
}

.button:hover img {
        filter: var(--white_svg);
}