.button {
    display: flex;
    border-style: solid;
    border-color: var(--blue);
    border-radius: 20px;
    border-width: 2px;
    width: 100%;
    max-width: 200px;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: center; */
    gap: 2px;
    cursor: pointer;

    padding: 5px 25px;
}

.button p {
    font-size: 36px;
    font-weight: 400;
    max-height: 36px;
    line-height: 1;
    color: var(--blue);
}

.button img {
    filter: var(--blue_svg);
    height: 32px;
}

.button:hover, .buttonSelected {
    background-color: var(--blue);
}

.button:hover p, .buttonSelected p {
    color: #ffffff;
}
.button:hover img, .buttonSelected img {
        filter: var(--white_svg);
}